.container {
    padding: 0 2%;
    background-color: offwhite;
}

header {
    position: sticky;
    top: 0;
    height: 5%;
    background-color: green;
}

footer {
    position: sticky;
    bottom: 0;
    height: 5%;
    background-color: black;
}